@import 'base';

.parameter-abouts {
    position: relative;
    background: url(../images/bg-parameter-abouts.png) no-repeat center;
    background-size: cover;
    padding: 50px 0px;

    .container {
        position: relative;
        z-index: 10;
    }

}

.items-parameter__abouts {
    text-align: center;
    color: #FFFFFF;

    img {
        height: 40px;
        width: auto;
        object-fit: scale-down;
        margin-bottom: 10px;
        filter: brightness(0) invert(1);
    }

    .number-parameter__abouts {
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 32px;

        &:after {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 30px;
            height: 1px;
            background-color: #FFFFFF;
        }
    }
}

.photo-abouts {
    &:after {
        display: none;
    }

    .items-photo__mains {
        >a {
            border-radius: 5px;
        }
    }
}