@media (min-width: 230px) {
    .banner__slider {
        position: relative;
        background-color: #292b2d;
    }
    .banner__slider .swiper-wrapper .swiper-slide .frame {
        padding-top: 80%;
        background-position: bottom;
        background-size: cover;
    }
    .banner__slider .swiper-wrapper .swiper-slide .frame img {
        -o-object-fit: contain;
        object-fit: contain;
        object-position: center;
        max-width: 80%;
        margin: auto;
        height: 80%;
        margin-bottom: 0;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__title {
        color: #d39c42;
        font-weight: 700;
        /* font-family: "Lato-Bold_2"; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 1.22;
        max-width: 270px;
        margin-bottom: 10px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__desc {
        color: #fff;
        display: block;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__desc tr td {
        font-size: 12px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .btn__detail {
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ff0000;
        color: #fff;
        line-height: 30px;
        border-radius: 5px;
        max-width: 120px;
        width: 100%;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        margin: 15px 0;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group .img-item {
        max-width: -webkit-calc(33.333% - 6px);
        max-width: -moz-calc(33.333% - 6px);
        max-width: calc(33.333% - 6px);
        width: 100%;
        position: relative;
        padding-top: 34.04255%;
        background-color: #fff;
        margin: 3px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group .img-item img {
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        width: -webkit-calc(100% - 6px);
        width: -moz-calc(100% - 6px);
        width: calc(100% - 6px);
        height: -webkit-calc(100% - 6px);
        height: -moz-calc(100% - 6px);
        height: calc(100% - 6px);
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 2;
    }
    .banner__slider .swiper-pagination {
        bottom: 0;
    }
    .banner__slider .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 4px solid #fff;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 1;
    }
    .banner__slider .swiper-pagination-bullet-active {
        border: 8px solid #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #AboutUs {
        background-color: #292b2d;
        position: relative;
        padding-bottom: 15px;
    }
    #thue-xe .line {
        height: 30px;
    }
    #AboutUs .line-1 {
        background-color: #d39c42;
    }
    #thue-xe .line-2 {
        background-color: #fff;
        position: relative;
    }
    #thue-xe.line-2.decorate__global {
        top: -webkit-calc(100%-1px);
        top: -moz-calc(100%-1px);
        top: calc(100%-1px);
    }
    #thue-xe.line-2.decorate__global::before,
    #thue-xe.line-2.decorate__global::after {
        background-color: #fff;
    }
    #AboutUs.module__AboutUs.bg__AboutUsimg {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: -webkit-calc(100%-60px);
        height: -moz-calc(100%-60px);
        height: calc(100%-60px);
        -o-object-fit: cover;
        object-fit: cover;
        opacity: .15;
        z-index: 1;
    }
    #AboutUs.module__AboutUs.title__global-1 {
        position: relative;
        z-index: 2;
    }
    #AboutUs .module__AboutUs .title__global-1 h1 {
        margin-top: 40px;
        color: #fff;
        font-size: 30px;
    }
    #AboutUs .module__AboutUs .AboutUs__group {
        position: relative;
        z-index: 2;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content p {
        color: #fff;
        text-align: justify;
        font-size: 14px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content img {
        max-width: 182px;
        margin: 0 auto;
        display: block;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content span {
        display: block;
        width: 100%;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Arial";
        text-align: center;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content span:last-child {
        color: #bebfc1;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group {
        margin-top: 15px;
        width: 100%;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr:last-child {
        border-bottom: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        max-width: -webkit-calc(50% - 2px);
        max-width: -moz-calc(50% - 2px);
        max-width: calc(50% - 2px);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td:last-child {
        border-right: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td img {
        height: 50px;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        margin-bottom: 10px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p {
        color: #fff;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        font-size: 12px;
        text-transform: uppercase;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p b {
        color: #d39c42;
        font-size: 20px;
    }
    #NewsFeed {
        position: relative;
        padding-top: 30px;
        background-color: #fff;
        padding-bottom: 30px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__group {
        position: relative;
        width: 100%;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-prev {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
        background-color: transparent;
        width: 20px;
        height: 20px;
        left: 5px;
        border-top: 3px solid #292b2d;
        border-left: 3px solid #292b2d;
        border-radius: 3px;
        -webkit-transform: translate(0, -50%) rotate(-45deg);
        -moz-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
        transform: translate(0, -50%) rotate(-45deg);
        cursor: pointer;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-next {
        position: absolute;
        top: 50%;
        z-index: 2;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
        -webkit-transform: translate(0, -50%) rotate(45deg);
        -moz-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
        transform: translate(0, -50%) rotate(45deg);
        right: 5px;
        border-top: 3px solid #292b2d;
        border-right: 3px solid #292b2d;
        border-radius: 3px;
        cursor: pointer;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        -moz-transition-property: transform, -moz-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform, -moz-transform;
        border: 1px solid #d9d9d9;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .NewsFeed__slider-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .NewsFeed__slider-avatar img {
        -o-object-fit: contain;
        object-fit: contain;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group {
        max-width: -webkit-calc(100% - 52px);
        max-width: -moz-calc(100% - 52px);
        max-width: calc(100% - 52px);
        width: 100%;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .slider__item-name {
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 3px;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 2;
        height: -webkit-calc(20px * 2);
        height: -moz-calc(20px * 2);
        height: calc(20px * 2);
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .info__box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .info__box .info__box-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 5px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .info__box .info__box-item img {
        height: 9px;
        margin-right: 4px;
        margin-top: -1px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .info__box .info__box-item p,
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-title .info__group .info__box .info__box-item time {
        margin-bottom: 0;
        color: #a6a8ab;
        font-size: 10px;
        line-height: 1;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-desc {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 16px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        margin-bottom: 15px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-img {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 15px;
        margin: 15px 10px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__slider .NewsFeed__slider-item .NewsFeed__slider-img .frame {
        padding-top: 55.29412%;
    }
    #Service {
        background-color: #f4f4f4;
        padding-bottom: 15px;
    }
    #Service .title__global-1 .decorate__global,
    #Service .title__global-1 .decorate__global::before,
    #Service .title__global-1 .decorate__global::after {
        background-color: #fff;
    }
    #Service .Service__group {
        margin: 0 -15px;
        width: -webkit-calc(100% + 30px);
        width: -moz-calc(100% + 30px);
        width: calc(100% + 30px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #Service .Service__group .Service__item {
        position: relative;
        background-color: #fff;
        margin: 15px;
        width: 100%;
        max-width: -webkit-calc(100% - 30px);
        max-width: -moz-calc(100% - 30px);
        max-width: calc(100% - 30px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #Service .Service__group .Service__item:hover,
    #Service .Service__group .Service__item:focus {
        background-color: #000;
    }
    #Service .Service__group .Service__item:hover .Service__img,
    #Service .Service__group .Service__item:focus .Service__img {
        opacity: .7;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item:hover .Service__img img,
    #Service .Service__group .Service__item:focus .Service__img img {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item:hover .Service__content img,
    #Service .Service__group .Service__item:focus .Service__content img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item:hover .Service__content h3,
    #Service .Service__group .Service__item:focus .Service__content h3 {
        color: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item:hover .Service__content p,
    #Service .Service__group .Service__item:focus .Service__content p {
        color: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item:hover .btn__more,
    #Service .Service__group .Service__item:focus .btn__more {
        background-color: #d39c42;
        color: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item .Service__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 1;
    }
    #Service .Service__group .Service__item .Service__img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Service .Service__group .Service__item .Service__content {
        position: relative;
        z-index: 3;
        color: #000;
        text-align: center;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    #Service .Service__group .Service__item .Service__content img {
        width: 100%;
        height: 73px;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        margin-top: 20px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 10px;
    }
    #Service .Service__group .Service__item .Service__content h3 {
        text-transform: uppercase;
        /* font-family: "Lato-Bold_2"; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 35px;
    }
    #Service .Service__group .Service__item .Service__content p {
        line-height: 1.625;
        color: #9b9b9c;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 0;
    }
    #Service .Service__group .Service__item .btn__more {
        position: relative;
        line-height: 45px;
        width: 100%;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: #9b9b9c;
        font-weight: 400;
        background-color: #fff;
        font-size: 14px;
        margin-top: auto;
        /* font-family: "Lato-Regular_2"; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        z-index: 3;
    }
    #Why .title__global-1 h2 {
        margin-top: 10px;
        margin-bottom: 35px;
    }
    #Why .title__global-1 .decorate__global,
    #Why .title__global-1 .decorate__global::before,
    #Why .title__global-1 .decorate__global::after {
        background-color: #f4f4f4;
    }
    #Why .Why__choose {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: -webkit-calc(100% + 10px);
        width: -moz-calc(100% + 10px);
        width: calc(100% + 10px);
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 -5px;
    }
    #Why .Why__choose .Why__choose-item {
        max-width: -webkit-calc(50% - 10px);
        max-width: -moz-calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin: 5px;
    }
    #Why .Why__choose .Why__choose-item:nth-child(5) .Why__choose-img {
        padding: 10px;
    }
    #Why .Why__choose .Why__choose-item:nth-child(6) .Why__choose-img {
        padding: 0;
    }
    #Why .Why__choose .Why__choose-item .Why__choose-img {
        border-radius: 50%;
        width: 110px;
        height: 110px;
        margin: 0 auto;
        margin-bottom: 22px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0px;
    }
    #Why .Why__choose .Why__choose-item .Why__choose-img img {
        display: block;
        margin: auto;
        -o-object-fit: contain;
        object-fit: contain;
    }
    #Why .Why__choose .Why__choose-item h3 {
        text-align: center;
        text-transform: uppercase;
        line-height: 22px;
        line-height: 1;
        font-size: 16px;
    }
    #Why .Why__choose .Why__choose-item p {
        text-align: center;
        font-size: 12px;
    }
    #Produce {
        background-color: #f4f4f4;
        padding-bottom: 25px;
    }
    #Produce .Produce__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -8px;
        width: -webkit-calc(100% + 16px);
        width: -moz-calc(100% + 16px);
        width: calc(100% + 16px);
    }
    #Produce .Produce__group .Produce__item {
        margin: 8px;
        width: 100%;
        max-width: -webkit-calc(100% - 16px);
        max-width: -moz-calc(100% - 16px);
        max-width: calc(100% - 16px);
        border: 1px solid #ababab;
        background-color: #fff;
        overflow: hidden;
        -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
    }
    #Produce .Produce__group .Produce__item:hover .Produce__img .frame img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #Produce .Produce__group .Produce__item .Produce__img .frame {
        padding-top: 94.40299%;
    }
    #Produce .Produce__group .Produce__item .Produce__img .frame img {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        object-fit: cover;
    }
    #Produce .Produce__group .Produce__item .Produce__content {
        padding: 10px;
        background-color: #fff;
        position: relative;
    }
    #Produce .Produce__group .Produce__item .Produce__content .decorate {
        position: absolute;
        bottom: 100%;
        height: 22px;
        width: 65px;
        background-color: #fff;
    }
    #Produce .Produce__group .Produce__item .Produce__content .decorate-1 {
        border-top-right-radius: 11px;
        left: 0;
    }
    #Produce .Produce__group .Produce__item .Produce__content .decorate-1::before {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        background-color: #fff;
        margin-left: auto;
        -webkit-transform: translate(10px, 10px) rotate(46deg);
        -moz-transform: translate(10px, 10px) rotate(46deg);
        -ms-transform: translate(10px, 10px) rotate(46deg);
        transform: translate(10px, 10px) rotate(46deg);
    }
    #Produce .Produce__group .Produce__item .Produce__content .decorate-2 {
        border-top-left-radius: 11px;
        right: 0;
    }
    #Produce .Produce__group .Produce__item .Produce__content .decorate-2::before {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        background-color: #fff;
        -webkit-transform: translate(-10px, 10px) rotate(44deg);
        -moz-transform: translate(-10px, 10px) rotate(44deg);
        -ms-transform: translate(-10px, 10px) rotate(44deg);
        transform: translate(-10px, 10px) rotate(44deg);
    }
    #Produce .Produce__group .Produce__item .Produce__content .Produce__name {
        /* font-family: "Lato-Bold_2"; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        width: auto;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 23px;
        -webkit-line-clamp: 2;
        height: -webkit-calc(23px * 2);
        height: -moz-calc(23px * 2);
        height: calc(23px * 2);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 15px;
    }
    #Produce .Produce__group .Produce__item .Produce__content .Produce__link {
        display: block;
        background-color: #d39c42;
        color: #fff;
        /* font-family: "Lato-Regular_2"; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 400;
        border-radius: 3px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 0 10px;
    }
    #Produce .Produce__group .Produce__item .Produce__content .feature__group {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        float: right;
        background-color: #fff;
        margin-top: 25px;
    }
    #Produce .Produce__group .Produce__item .Produce__content .feature__group .feature__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #Produce .Produce__group .Produce__item .Produce__content .feature__group .feature__item img {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
    #Produce .Produce__group .Produce__item .Produce__content .feature__group .feature__item p {
        font-size: 10px;
        margin-bottom: 0;
    }
    #Evaluate {
        position: relative;
        padding-bottom: 30px;
    }
    #Evaluate .Evaluate__img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #Evaluate .Evaluate__img img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: -3;
    }
    #Evaluate .title__global-1 .decorate__global,
    #Evaluate .title__global-1 .decorate__global::before,
    #Evaluate .title__global-1 .decorate__global::after {
        background-color: #f4f4f4;
    }
    #Evaluate .title__global-1 h2 {
        color: #fff;
        margin-top: 40px;
        font-size: 18px;
    }
    #Evaluate .Evaluate-decorate span {
        display: block;
        width: 100%;
        font-family: 'Jacques Francois Shadow', cursive;
        font-weight: 400;
        font-size: 150px;
        line-height: 0.3;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        transform: translateY(-150%);
    }
    #Evaluate .Evaluate__slide {
        overflow: hidden;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item {
        color: #fff;
        text-align: center;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__content {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Thin_0"; */
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
        padding: 0 15px;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__avatar {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 20px auto;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__avatar img {
        -o-object-fit: cover;
        object-fit: cover;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__name {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Regular_2"; */
        font-weight: 400;
        text-transform: uppercase;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__business {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Thin_0"; */
        font-weight: 100;
        font-size: 12px;
    }
    #Evaluate .swiper-button-prev {
        left: -38px;
    }
    #Evaluate .swiper-button-prev::after {
        font-size: 20px;
        color: #fff;
    }
    #Evaluate .swiper-button-next {
        right: -38px;
    }
    #Evaluate .swiper-button-next::after {
        font-size: 20px;
        color: #fff;
    }
    #News .News__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    #News .News__group .News__item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
    #News .News__group .News__item:hover .News__img .frame img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #News .News__group .News__item:hover .News__name {
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: #d39c42;
    }
    #News .News__group .News__item .News__img {
        margin-bottom: 10px;
    }
    #News .News__group .News__item .News__img .frame {
        padding-top: 71.46974%;
    }
    #News .News__group .News__item .News__img .frame img {
        border-radius: 3px;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #News .News__group .News__item .News__name {
        text-transform: uppercase;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Bold_2"; */
        font-weight: 700;
        color: #000;
        width: 100%;
        font-size: 15px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 24px;
        -webkit-line-clamp: 2;
        height: -webkit-calc(24px * 2);
        height: -moz-calc(24px * 2);
        height: calc(24px * 2);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 10px;
    }
    #News .News__group .News__item .News__desc {
        margin-bottom: 10px;
        color: #000;
    }
    #News .News__group .News__item .News__link {
        color: #6f6d6d;
    }
    #Patner {
        background-color: #f4f4f4;
        padding-bottom: 30px;
    }
    #Patner .title__global-1 .decorate__global,
    #Patner .title__global-1 .decorate__global::before,
    #Patner .title__global-1 .decorate__global::after {
        background-color: #fff;
    }
    #Patner .title__global-1 h2 {
        margin-top: 40px;
        margin-bottom: 25px;
    }
    #Patner .container {
        max-width: -webkit-calc(600px + 30px);
        max-width: -moz-calc(600px + 30px);
        max-width: calc(600px + 30px);
    }
    #Patner .container .Patner__group {
        position: relative;
    }
    #Patner .container .Patner__group .Patner__slider {
        overflow: hidden;
    }
    #Patner .container .Patner__group .Patner__slider .Patner__slider-item .frame {
        padding-top: 70px;
    }
    #Patner .container .Patner__group .Patner__slider .Patner__slider-item img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    #Patner .container .Patner__group .swiper-scrollbar {
        width: 100%;
        height: 3px;
        bottom: -10px;
    }
    #Patner .container .Patner__group .swiper-scrollbar .swiper-scrollbar-drag {
        background-color: #d39c42;
    }
    #Produce .banner-top {
        width: 1400px;
        left: 50%;
        transform: translateX(-50%);
    }
    #Produce .decorate__global {
        filter: brightness(0) invert(1);
    }
}

@media (min-width: 480px) {
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__title {
        font-size: 34px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__desc tr td {
        font-size: 14px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        padding: 15px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td img {
        width: 50px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p {
        width: unset;
        text-align: left;
    }
    #Produce .banner-top {
        width: 1575px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 576px) {
    /* .banner__slider .swiper-wrapper .swiper-slide .slider__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .btn__detail {
        font-size: 22px;
        line-height: 50px;
        max-width: 180px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group {
        max-width: 141px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group .img-item {
        max-width: 200px;
        width: 100%;
        padding-top: 68.08511%;
    } */
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        padding: 15px 30px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p {
        width: unset;
        text-align: left;
    }
    #Service .Service__group .Service__item {
        max-width: -webkit-calc(50% - 30px);
        max-width: -moz-calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
    #Why .Why__choose .Why__choose-item {
        max-width: -webkit-calc(33.333% - 10px);
        max-width: -moz-calc(33.333% - 10px);
        max-width: calc(33.333% - 10px);
    }
    #News .News__group {
        width: -webkit-calc(100% + 32px);
        width: -moz-calc(100% + 32px);
        width: calc(100% + 32px);
        margin: 0 -16px;
        margin-bottom: 10px;
    }
    #News .News__group .News__item {
        max-width: -webkit-calc(50% - 32px);
        max-width: -moz-calc(50% - 32px);
        max-width: calc(50% - 32px);
        margin: 0 16px;
        margin-bottom: 15px;
    }
    #Produce .Produce__group .Produce__item {
        max-width: -webkit-calc(50% - 16px);
        max-width: -moz-calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
    #Produce .banner-top {
        width: 1480px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .btn__detail {
        font-size: 22px;
        line-height: 50px;
        max-width: 180px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group {
        max-width: 141px;
    }
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .img-group .img-item {
        max-width: 200px;
        width: 100%;
        padding-top: 68.08511%;
    }
    .banner__slider .swiper-wrapper .swiper-slide .frame {
        padding-top: 60%;
    }
    .banner__slider .swiper-pagination {
        text-align: left;
        left: 90%;
        bottom: 10%;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #AboutUs .module__AboutUs .AboutUs__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content {
        max-width: 40%;
        padding-right: 15px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group {
        max-width: 60%;
        margin-top: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        padding: 15px;
    }
    #Why .Why__choose .Why__choose-item {
        max-width: -webkit-calc(25% - 10px);
        max-width: -moz-calc(25% - 10px);
        max-width: calc(25% - 10px);
    }
    #Evaluate .title__global-1 h2 {
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .banner__slider .swiper-wrapper .swiper-slide .frame {
        padding-top: 45%;
    }
    .banner__slider .pagination {
        position: absolute;
        left: 0;
        right: 0;
    }
    .banner__slider .swiper-pagination {
        left: 92%;
        bottom: 9%;
    }
    #AboutUs .line {
        height: 20px;
    }
    #AboutUs .module__AboutUs .bg__AboutUs img {
        top: 80px;
        height: -webkit-calc(100% - 80px);
        height: -moz-calc(100% - 80px);
        height: calc(100% - 80px);
    }
    #AboutUs .module__AboutUs .title__global-1 h1 {
        font-size: 30px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content {
        max-width: 50%;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group {
        max-width: 50%;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td img {
        width: 70px;
        height: 70px;
    }
    #Service {
        padding-bottom: 40px;
    }
    #Service .title__global-1 h2 {
        margin-top: 50px;
    }
    #Service .Service__group .Service__item {
        max-width: -webkit-calc(25% - 30px);
        max-width: -moz-calc(25% - 30px);
        max-width: calc(25% - 30px);
    }
    #Why .Why__choose {}
    #Why .Why__choose .Why__choose-item {
        max-width: calc(25% - 20px);
        margin: 20px;
    }
    #Why .title__global-1 h2 {
        margin-top: 10px;
    }
    #News .News__group .News__item {
        max-width: -webkit-calc(33.333% - 32px);
        max-width: -moz-calc(33.333% - 32px);
        max-width: calc(33.333% - 32px);
    }
    #Patner {
        padding-bottom: 50px;
    }
    #Patner .decorate__global {
        width: 460px;
    }
    #Produce .Produce__group .Produce__item {
        max-width: -webkit-calc(25% - 16px);
        max-width: -moz-calc(25% - 16px);
        max-width: calc(25% - 16px);
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__content {
        padding: 0 60px;
        font-size: 18px;
    }
    #Evaluate .title__global-1 h2 {
        font-size: 30px;
    }
    #Evaluate .swiper-button-prev {
        left: 15px;
    }
    #Evaluate .swiper-button-next {
        right: 15px;
    }
}

@media (min-width: 1200px) {
    .banner__slider .swiper-wrapper .swiper-slide .frame {
        padding-top: 28.04561%;
    }
    .banner__slider .pagination {
        bottom: 5%;
    }
    #AboutUs .module__AboutUs .title__global-1 h1 {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content p {
        font-size: 18px;
        line-height: 1.7;
        margin-top: 20px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__content span {
        font-size: 15px;
        margin-top: 5px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group {
        max-width: -webkit-calc(50% - 50px);
        max-width: -moz-calc(50% - 50px);
        max-width: calc(50% - 50px);
        margin-left: 50px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr:first-child td {
        padding-bottom: 50px;
        padding-top: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td {
        padding-left: 0;
        padding-right: 10px;
        max-width: -webkit-calc(50% - 20px);
        max-width: -moz-calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td:last-child {
        max-width: -webkit-calc(50% + 20px);
        max-width: -moz-calc(50% + 20px);
        max-width: calc(50% + 20px);
        padding-left: 50px;
        padding-right: 0;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td img {
        margin-right: 5px;
        width: 80px;
        height: 70px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p {
        font-size: 14px;
    }
    #AboutUs .module__AboutUs .AboutUs__group .AboutUs__numb-group tr td p b {
        font-size: 26px;
    }
    #NewsFeed {
        padding-bottom: 55px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-prev {
        left: -25px;
    }
    #NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-next {
        right: -25px;
    }
    #Service .title__global-1 h2 {
        margin-top: 70px;
    }
    #Why .Why__choose {}
    #Why .Why__choose .Why__choose-item {
        font-family: Arial, Helvetica, sans-serif;
        max-width: calc(25% - 10px);
        margin: 15px 40px;
        margin-top: 30px;
    }
    #Patner .title__global-1 h2 {
        font-size: 30px;
    }
    #Evaluate .container {
        position: relative;
    }
    #Evaluate .title__global-1 h2 {
        margin-top: 55px;
    }
    #Evaluate .Evaluate__slide {
        margin-top: 20px;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__avatar {
        margin-top: 30px;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__name {
        font-size: 20px;
    }
    #Evaluate .Evaluate__slide .swiper-wrapper .Evaluate__slide-item .Evaluate__business {
        font-size: 16px;
    }
}

.price {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    margin-top: 0px;
}

.slider-info {
    text-align: right;
}

a.btn.btn__detail {
    display: inline-block;
    text-align: center;
}

.price:before {
    content: '';
    width: 100px;
    height: 6px;
    background: #e00;
    display: inline-block;
    margin-bottom: 20px;
}

.price span {
    display: block;
}

.search-rental {
    background: url('../../../images/rental_search.svg') top center no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
    margin-top: -34px;
    z-index: 9;
}

section.search-rental {}

section.search-rental .rew {
    margin: 0 -10px;
}

section.search-rental .rew .group-form {
    float: left;
    width: 17%;
    padding: 0 10px;
}

section.search-rental .rew .group-form label {
    display: block;
    color: #fff;
}

section.search-rental {
    padding-top: 55px;
}

section.search-rental .rew .group-form input[type=number] {
    -moz-appearance: textfield;
}

section.search-rental .rew .group-form input[type=number]::-webkit-outer-spin-button,
section.search-rental .rew .group-form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section.search-rental .rew .group-form select,
section.search-rental .rew .group-form input {
    width: 100%;
    height: 35px;
    padding: 0px 5px;
}

section.search-rental button {
    /* width: 13%; */
    width: calc(13% + 5px);
    background: #2e2e2e;
    color: #fff;
    border: none;
    border-radius: 15px;
    height: 35px;
    margin-top: 26px;
    margin-right: 10px;
    float: right;
    font-size: 18px;
    cursor: pointer;
}

#gioi-thieu {
    background: url('../../../images/rental_ab.jpg') top center no-repeat;
    background-size: 80%;
    position: relative;
    z-index: 9;
    padding-bottom: 70px;
}


/* #gioi-thieu .rew {
    margin: 0 -10px;
} */

#gioi-thieu .rew .col-r,
#gioi-thieu .rew .col-l {
    width: 50%;
    min-height: 5px;
    float: left;
    font-size: 15px;
    padding-left: 60px;
    text-align: justify;
}

.clear {
    clear: both;
}

#gioi-thieu .rew .col-r p {
    margin-bottom: 20px;
}

#gioi-thieu .rew .col-r ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

#gioi-thieu .rew .col-r ul li:before {
    content: '';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: transparent;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    -moz-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    border-top: 2px solid #d39c42;
    border-right: 2px solid #d39c42;
    position: absolute;
    top: 11px;
    left: -20px;
}

#gioi-thieu .rew .col-r ul li {
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    list-style: none;
}

#gioi-thieu h2 {
    margin-left: auto;
    margin-right: auto;
}

a.gt-more {
    background: #d39c42;
    display: inline-block;
    padding: 8px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 30px;
}

#Why .Why__choose .Why__choose-item p {
    font-size: 14px;
    display: block;
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1 0px;
}

#Produce {
    background: #d39c42;
    padding: 50px 0;
}

.banner-top {
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100px;
}

section#Produce {
    position: relative;
    margin-top: 20px;
}

section#Produce .title__global-1 h2 {
    color: #fff;
}

section#Produce .title__global-1 h2:before,
section#Produce .title__global-1 h2:after {
    background-color: #fff;
}

section#Produce .Produce__content {
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

section#Produce .Produce__content h4 a {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    color: #333;
}

section#Produce .Produce__content p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
    height: 40px;
}

.content-tuyenxe .rew {
    margin: 0 -10px;
}

.content-tuyenxe .rew .col-right {
    width: 310px;
    float: left;
    padding: 0 10px;
}

.content-tuyenxe .rew .col-left {
    width: calc(100% - 310px);
    float: left;
    padding: 0 10px;
}

.content-tuyenxe .rew .col-right img {
    margin-bottom: 10px;
}

#tuyenxe {
    padding-bottom: 40px;
}

.content-tuyenxe .box {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-tuyenxe .box .time .left-box,
.content-tuyenxe .box .time .right-box {
    width: 50%;
    float: left;
    border: 1px solid #e4c58a;
}

.content-tuyenxe .box .time .left-box span,
.content-tuyenxe .box .time .right-box span {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
}

.content-tuyenxe .box .time .left-box span.title,
.content-tuyenxe .box .time .right-box span.title {
    color: #fff;
    background: #d39c42;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
}

.content-tuyenxe .box .time .left-box span.time-inner,
.content-tuyenxe .box .time .right-box span.time-inner {
    border-top: 1px solid #d39c42;
}

.content-tuyenxe .box p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
}

.content-tuyenxe .box .note {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

.content-tuyenxe .box .price-ve {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    text-align: right;
    color: #e00;
}

.banner-slider-vertical {
    background: #fff url('../../../images/hopdong.png') top center no-repeat;
    background-size: 100%;
    background-color: #fff!important;
}

.banner-slider-vertical .container {
    max-width: 1400px;
}

.slider-group-xe .ct {
    display: none;
}

.slider-group-xe.owl-carousel .owl-item img {
    width: 265px;
    display: block;
    margin: 0 auto;
}

.slider-group-xe .owl-item {
    transition: background-image 1.5s;
}

.slider-group-xe .center {
    background-image: url('../../../images/k.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 69px;
    z-index: 999;
    position: relative;
    padding-bottom: 40px;
}

.slider-group-xe .center .ct {
    display: block;
    padding: 28px 15px;
    padding-top: 0;
    text-align: center;
}

.slider-group-xe.owl-carousel.owl-loaded.owl-drag {
    position: relative;
    z-index: 9;
}

.slider-group-xe .center .ct h4 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
    font-family: arial;
    margin-bottom: 10px;
}

.slider-group-xe .center .ct p {
    padding: 0 50px;
    margin-bottom: 0;
}

.slider-group-xe .center .ct p.price-k {
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    color: #e00;
}

.slider-group-xe .center .ct a {
    display: inline-block;
    background: #e00;
    padding: 6px 17px;
    color: #fff;
    background: #2e2e2e;
    border-radius: 7px;
    border: 1px solid transparent;
}

.slider-group-xe .owl-item {
    padding-top: 70px;
}

.slider-group-xe.owl-carousel .owl-item.center img {
    width: 340px;
}

@media (max-width: 768px) {
    .banner__slider .swiper-wrapper .swiper-slide .slider__content .slider-info .banner__title {
        max-width: 100%;
    }
    .price {
        margin-bottom: 0;
        margin-top: 0;
    }
    .price:before {
        margin-bottom: 0;
    }
    section.search-rental {
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: contain;
        height: auto;
        top: 0;
        background-color: #d39c42;
        margin-top: 0;
    }
    section.search-rental .rew .group-form {
        width: 50%;
        margin-bottom: 8px;
    }
    section.search-rental button {
        width: 50%;
    }
    #gioi-thieu .rew .col-r,
    #gioi-thieu .rew .col-l {
        width: 100%;
        padding: 15px;
    }
    #gioi-thieu .rew .col-l {
        display: none;
    }
    section#gioi-thieu {
        background: none;
        padding-bottom: 0;
    }
    a.gt-more {
        margin-bottom: 0;
    }
    .banner-slider-vertical {
        background-size: 100% 100%;
    }
    .slider-group-xe.owl-carousel .owl-item img {
        width: 150px;
    }
    .slider-group-xe.owl-carousel .owl-item.center img {
        width: 200px;
    }
    .slider-group-xe .center {
        padding-top: 35px;
    }
    .slider-group-xe .center .ct p {
        padding: 0px 40px;
        font-size: 12px;
    }
    div#AboutUs {
        padding-bottom: 0;
    }
    section#Produce {
        padding-top: 0;
    }
    .content-tuyenxe .box .time .left-box,
    .content-tuyenxe .box .time .right-box {}
    .content-tuyenxe .rew .col-left {
        width: 100%;
    }
    .content-tuyenxe .rew .col-right {
        width: 100%;
    }
}

@media (min-width: 768.01px) {
    .search-rental {
        background-size: 1920px 100%;
    }
}

@media (max-width: 1500px) {
    .slider-group-xe.owl-carousel .owl-item.center img,
    .slider-group-xe.owl-carousel .owl-item img {
        width: 300px!important;
    }
}

@media (max-width: 1400px) {
    .slider-group-xe.owl-carousel .owl-item.center img,
    .slider-group-xe.owl-carousel .owl-item img {
        width: 250px!important;
        margin-top: 15px!important;
    }
}

@media (max-width: 1300px) {
    .slider-group-xe.owl-carousel .owl-item.center img,
    .slider-group-xe.owl-carousel .owl-item img {
        width: 200px!important;
        margin-top: 10px!important;
    }
    .slider-group-xe .center .ct p {
        margin-top: 5px!important;
        margin-bottom: 5px!important;
    }
}

@media (max-width: 1120px) {
    .slider-group-xe.owl-carousel .owl-item.center img,
    .slider-group-xe.owl-carousel .owl-item img {
        width: 190px!important;
        margin-top: 0px!important;
        margin-bottom: 10px!important;
    }
    .slider-group-xe .center .ct h4 {
        margin-bottom: 5px!important;
    }
    #AboutUs {
        padding-bottom: 0 !important;
    }
    .slider-group-xe .center .ct p {
        font-size: 13px!important;
    }
    .slider-group-xe .owl-item {
        padding-top: 60px;
    }
}

@media (max-width: 1024px) {
    .slider-group-xe .center .ct h4 {
        font-size: 16px!important;
    }
    .slider-group-xe.owl-carousel .owl-item.center img,
    .slider-group-xe.owl-carousel .owl-item img {
        width: 160px!important;
    }
}

@media (max-width: 991px) {
    .banner-slider-vertical .container {
        max-width: 600px!important;
    }
}

@media (max-width: 767px) {
    .banner-slider-vertical .container {
        max-width: 500px!important;
    }
    .slider-group-xe .center .ct p {
        padding: 0 25px !important;
    }
}

@media (max-width: 575.98px) {
    .slider-group-xe .center {
        padding-bottom: 40px!important;
    }
}

@media (max-width: 562px) {
    .slider-group-xe .center {}
    .slider-group-xe .center .ct p {
        padding: 0 25px !important;
    }
}

@media (max-width: 479px) {
    .slider-group-xe .center {}
    .banner-slider-vertical .container {
        max-width: 360px!important;
    }
    #AboutUs {}
    .slider-group-xe .center .ct p {
        padding: 0 25px !important;
    }
}

@media (max-width: 340px) {
    .slider-group-xe .center .ct p {
        -webkit-line-clamp: 3 !important;
    }
}

@media (min-width: 230px) {
    #Evaluate .title__global-1 .decorate__global {
        filter: brightness(0) invert(1) !important;
    }
}

.search-rental input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../../images/lich.png) no-repeat;
    background-size: cover;
    width: 9px;
    height: 13px;
    border-width: thin;
}

@media (min-width: 768px) and (max-width: 800px) {
    section.search-rental button {
        margin-right: auto;
    }
}