.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* not(:last-child) */
/* :nth-child(1n+0) */
.slide-mains {
  position: relative;
  z-index: 100;
  border-bottom: solid 30px #d39a42;
}
.slide-mains .swiper-pagination {
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}
.slide-mains .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid 1px #FFFFFF;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}
.slide-mains .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px !important;
}
.slide-mains .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.slide-mains .swiper-button-prev,
.slide-mains .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-mains .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.slide-mains .group-btns__showss .showss-button-prev,
.slide-mains .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px;
  font-size: 40px;
  color: #FFFFFF;
}
.slide-mains .group-btns__showss .showss-button-prev:hover, .slide-mains .group-btns__showss .showss-button-prev:focus,
.slide-mains .group-btns__showss .showss-button-next:hover,
.slide-mains .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #FFFFFF;
}
.slide-mains .group-btns__showss .showss-button-prev {
  left: 30px;
}
.slide-mains .group-btns__showss .showss-button-next {
  right: 30px;
}

.items-banner__mains a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 28%;
}
.items-banner__mains a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-mains {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 60px;
}

.items-news__mains {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  border: solid 1px #D0D2D3;
}
.items-news__mains .btn-oranges__alls {
  min-height: 20px;
}
.items-news__mains .tops-news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-news__mains .names-infos__news {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.items-news__mains .logo-news__mains {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.items-news__mains .logo-news__mains img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-news__mains .names-news__mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
.items-news__mains .infos-news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.items-news__mains .infos-news__items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8px;
  color: #A6A7AA;
}
.items-news__mains .infos-news__items li:not(:last-child) {
  margin-right: 20px;
}
.items-news__mains .infos-news__items li img {
  width: 7px;
  height: 7px;
  min-width: 7px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-right: 5px;
}
.items-news__mains .img-news__mains {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.items-news__mains .img-news__mains > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 54%;
  overflow: hidden;
  border-radius: 5px;
}
.items-news__mains .img-news__mains > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-news__mains .btn-oranges__alls {
  margin-right: auto;
  margin-left: auto;
}

.slide-news__mains {
  position: relative;
}
.slide-news__mains .swiper-button-prev,
.slide-news__mains .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-news__mains .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.slide-news__mains .group-btns__showss .showss-button-prev,
.slide-news__mains .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px;
  font-size: 40px;
  color: #000000;
}
.slide-news__mains .group-btns__showss .showss-button-prev:hover, .slide-news__mains .group-btns__showss .showss-button-prev:focus,
.slide-news__mains .group-btns__showss .showss-button-next:hover,
.slide-news__mains .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slide-news__mains .group-btns__showss .showss-button-prev {
  left: -30px;
}
.slide-news__mains .group-btns__showss .showss-button-next {
  right: -30px;
}

.featured-sevice__mains {
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
}
.featured-sevice__mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/before-box-alls-1.png) no-repeat center;
  background-size: 100% 100%;
}

.infos-featured__sevice {
  position: relative;
}
.infos-featured__sevice .center-featured__sevices {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 180px;
  margin: auto;
}
.infos-featured__sevice .center-featured__sevices img {
  width: 100%;
  height: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.groups-featured__sevices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
}
.groups-featured__sevices .items-featured__sevices {
  width: 50%;
}
.groups-featured__sevices .items-featured__sevices:nth-child(2n+1) {
  padding-right: 105px;
}
.groups-featured__sevices .items-featured__sevices:nth-child(2n+1) .img-items__sevices {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 20px;
}
.groups-featured__sevices .items-featured__sevices:nth-child(2n+1) .intros-featured__sevices {
  text-align: right;
}
.groups-featured__sevices .items-featured__sevices:nth-child(2n+2) {
  padding-left: 105px;
}
.groups-featured__sevices .items-featured__sevices:nth-child(2n+2) .img-items__sevices {
  margin-right: 20px;
}
.groups-featured__sevices .items-featured__sevices:nth-child(6n+3) .img-items__sevices {
  margin-right: 20px;
}
.groups-featured__sevices .items-featured__sevices:nth-child(6n+4) .img-items__sevices {
  margin-left: 20px;
}

.items-featured__sevices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.items-featured__sevices:hover, .items-featured__sevices:focus {
  background-color: #f1f1f1;
}
.items-featured__sevices img {
  width: 35px;
  height: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.items-featured__sevices .intros-featured__sevices {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.educate-mains {
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #f4f4f4;
  position: relative;
}
.educate-mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/before-box-alls-1.png) no-repeat center;
  background-size: 100% 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.items-educate__main {
  position: relative;
  padding-top: 110%;
  height: 1px;
  width: 100%;
  background: url(../images/bg-items-educate.png) no-repeat center;
  background-size: 100% 100%;
}
.items-educate__main:hover, .items-educate__main:focus {
  background: url(../images/bg-items-educate-hover.png) no-repeat center;
  background-size: 100% 100%;
}
.items-educate__main:hover .content-educate__main, .items-educate__main:focus .content-educate__main {
  color: #FFFFFF !important;
}
.items-educate__main:hover .content-educate__main .titles-educate__mains:after, .items-educate__main:focus .content-educate__main .titles-educate__mains:after {
  background-color: #FFFFFF;
}
.items-educate__main:hover .content-educate__main img, .items-educate__main:focus .content-educate__main img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.items-educate__main .content-educate__main {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  padding-left: 30px;
  padding-right: 30px;
}
.items-educate__main .content-educate__main p {
  font-size: 12px;
  z-index: 100;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  max-height: 100% !important;
}
.items-educate__main .content-educate__main img {
  height: 50px;
  width: auto;
  margin-bottom: 5px;
  z-index: 100;
}
.items-educate__main .content-educate__main .titles-educate__mains {
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.items-educate__main .content-educate__main .titles-educate__mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d39a42;
}

.course-opens__mains {
  padding-top: 65px;
  padding-bottom: 40px;
  position: relative;
}
.course-opens__mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/before-box-alls-1.png) no-repeat center;
  background-size: 100% 100%;
}
.course-opens__mains .row {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.items-course__opens {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  border: solid 1px #9e9e9f;
  text-align: center;
  -webkit-box-shadow: 1px 0px 0px 0.5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 0px 0px 0.5px rgba(0, 0, 0, 0.6);
}
.items-course__opens .titles-course__opens {
  background-color: #d39a42;
  color: #FFFFFF;
  padding: 15px 10px;
}
.items-course__opens .price-course__opens {
  border: dashed 2px #585858;
  padding: 5px 5px;
  border-radius: 10px;
  color: #EC1C24;
  font-size: 24px;
}
.items-course__opens .intros-course__opens {
  padding: 20px 15px;
}
.items-course__opens .list-course__opens li {
  font-weight: bold;
}
.items-course__opens .list-course__opens li:not(:last-child) {
  margin-bottom: 15px;
}
.items-course__opens .btn-oranges__alls {
  width: 100%;
  border-radius: 0px;
  min-height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.items-question__mains {
  border: solid 1px #d39a42;
  background-color: #FFFFFF;
}
.items-question__mains:not(:last-child) {
  margin-bottom: 20px;
}
.items-question__mains .titles-btn__mains {
  background-color: #d39a42;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
}
.items-question__mains .titles-btn__mains:before {
  content: "-";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: url(../images/before-items-question-mains.svg) no-repeat center;
  background-size: 100% 100%;
  margin-right: 10px;
  color: #d39a42;
}
.items-question__mains .intros-question__mains {
  padding: 15px 30px;
  display: none;
}
.items-question__mains .intros-question__mains .list-question__alls {
  padding-left: 50px;
  list-style: disc;
}
.items-question__mains .intros-question__mains .list-question__alls li {
  padding: 15px 10px;
  border: solid 1px #efefef;
}
.items-question__mains .intros-question__mains .list-question__alls li:not(:last-child) {
  border-bottom: 0px;
}

.question-mains {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f4f4f4;
  position: relative;
}
.question-mains .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.question-mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/before-box-alls-1.png) no-repeat center;
  background-size: 100% 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.auditions-mains img {
  width: 100%;
}
.auditions-mains .intros-auditions__mains {
  background-color: #d39a42;
  padding: 15px 30px;
  padding-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.auditions-mains .intros-auditions__mains .titles-bold__alls {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.auditions-mains .btn-white__trans {
  margin-left: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.photo-mains {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.tag-photo__mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.tag-photo__mains li:not(:last-child) {
  margin-right: 50px;
}
.tag-photo__mains li a:hover, .tag-photo__mains li a:focus {
  color: #d39a42;
}
.tag-photo__mains li .active {
  color: #d39a42;
}

.content-photo-mains {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.items-photo__mains {
  margin-bottom: 24px;
}
.items-photo__mains:hover img, .items-photo__mains:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.items-photo__mains > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 60%;
  border-radius: 15px;
  overflow: hidden;
}
.items-photo__mains > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-feedback__mains {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.slide-feedback__mains .swiper-button-prev,
.slide-feedback__mains .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-feedback__mains .group-btns__showss {
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  display: none;
}
.slide-feedback__mains .group-btns__showss .showss-button-prev,
.slide-feedback__mains .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px;
  font-size: 60px;
  color: #FFFFFF;
}
.slide-feedback__mains .group-btns__showss .showss-button-prev:hover, .slide-feedback__mains .group-btns__showss .showss-button-prev:focus,
.slide-feedback__mains .group-btns__showss .showss-button-next:hover,
.slide-feedback__mains .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #d39a42;
}
.slide-feedback__mains .group-btns__showss .showss-button-prev {
  left: 0px;
}
.slide-feedback__mains .group-btns__showss .showss-button-next {
  right: 0px;
}

.customer-mains {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background: url(../images/img-news-mains-1.jpg) no-repeat center;
  background-size: cover;
}
.customer-mains:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}
.customer-mains:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/before-box-alls-1.png) no-repeat center;
  background-size: 100% 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.customer-mains .slide-feedback__mains {
  z-index: 15;
  padding-left: 50px;
  padding-right: 50px;
}

.items-feedback__mains {
  text-align: center;
  color: #FFFFFF;
}
.items-feedback__mains .img-customers__feedback img {
  height: 80px;
  width: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.items-feedback__mains .infos-customers__feedback {
  position: relative;
  margin-top: 25px;
  padding-top: 25px;
}
.items-feedback__mains .infos-customers__feedback .titles-bold__alls {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  font-size: 14px;
}
.items-feedback__mains .infos-customers__feedback .titles-bold__alls:hover, .items-feedback__mains .infos-customers__feedback .titles-bold__alls:focus {
  color: #d39a42;
}
.items-feedback__mains .infos-customers__feedback:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 210px;
  height: 3px;
  background-color: #d39a42;
  border-radius: 100%;
}

.menu-danh-muc-container ul li {
  position: relative;
}
.menu-danh-muc-container ul li:hover > ul, .menu-danh-muc-container ul li:focus > ul {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.menu-danh-muc-container ul li ul {
  position: absolute;
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  top: 0px;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-danh-muc-container ul li ul li:not(:last-child) {
  border-bottom: solid 1px #EBEBEB;
}
.menu-danh-muc-container ul li ul li a {
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-danh-muc-container ul li ul li a:hover, .menu-danh-muc-container ul li ul li a:focus {
  background-color: #3AA1CA;
  color: #FFFFFF;
}

.map-pages__alls {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.map-pages__alls .title-mains__alls p {
  color: #000000;
}
.map-pages__alls .map-in__alls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 36%;
}
.map-pages__alls .map-in__alls iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}