@media (min-width: 230px) {
    .banner__slider .frame {
        padding-top: 21.875%;
    }
    .contact .title__global-1 h1 p {
        margin-bottom: 2px;
    }
    .contact .module__contact {
        margin-bottom: 30px;
    }
    .contact .module__contact .form__contact {
        margin-bottom: 15px;
    }
    .contact .module__contact .form__contact h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .contact .module__contact .form__contact p {
        font-size: 14px;
        margin-bottom: 10px;
        color: #58595a;
    }
    .contact .module__contact .form__contact form {
        margin-top: 20px;
    }
    .contact .module__contact .form__contact form .input-box textarea {
        height: 90px;
    }
    .contact .module__contact .form__contact form .input-box .input__control {
        border: 0;
        background-color: #f6f6f6;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        padding: 6px 0;
        padding-left: 12px;
        margin-bottom: 12px;
        width: 100%;
    }
    .contact .module__contact .form__contact form .input-box .input__control::-webkit-input-placeholder {
        font-size: 18px;
        color: #808184;
    }
    .contact .module__contact .form__contact form .input-box .input__control::-moz-placeholder {
        font-size: 18px;
        color: #808184;
    }
    .contact .module__contact .form__contact form .input-box .input__control:-ms-input-placeholder {
        font-size: 18px;
        color: #808184;
    }
    .contact .module__contact .form__contact form .input-box .input__control::-ms-input-placeholder {
        font-size: 18px;
        color: #808184;
    }
    .contact .module__contact .form__contact form .input-box .input__control::placeholder {
        font-size: 18px;
        color: #808184;
    }
    .contact .module__contact .form__contact form .input-box .input__control:focus,
    .contact .module__contact .form__contact form .input-box .input__control:hover {
        outline: 0;
    }
    .contact .module__contact .form__contact form .check__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .contact .module__contact .form__contact form .check__group>span {
        margin-right: 15px;
        font-size: 14px;
        color: #a6a8ab;
    }
    .contact .module__contact .form__contact form .check__group label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 10px;
        font-size: 14px;
        color: #a6a8ab;
        position: relative;
    }
    .contact .module__contact .form__contact form .check__group label input {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        color: #949494;
        margin-right: 5px;
        position: absolute;
    }
    .contact .module__contact .form__contact form .check__group label .checkbox {
        position: relative;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        border-radius: 3px;
        border: 1px solid #939393;
    }
    .contact .module__contact .form__contact form .btn__send {
        background-color: #d39c42;
        height: 38px;
        font-size: 18px;
        text-transform: uppercase;
        width: 100%;
        margin-top: 20px;
    }
    .contact .module__contact .form__contact form .btn__send:hover {
        background-color: #2e2e2e;
        color: #fff;
    }
    .contact .module__contact .info__contact .info__contact-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-icon {
        width: 40px;
        height: 40px;
        margin: 10px;
        margin-right: 25px;
        margin-left: 0;
        position: relative;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-icon::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border: 2px solid #e5e5e5;
        border-radius: 50%;
        z-index: -1;
        -webkit-animation: circleRing 1.5s ease-in-out infinite;
        -moz-animation: circleRing 1.5s ease-in-out infinite;
        animation: circleRing 1.5s ease-in-out infinite;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-icon img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-content {
        max-width: -webkit-calc(100% - 75px);
        max-width: -moz-calc(100% - 75px);
        max-width: calc(100% - 75px);
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-content h3 {
        text-transform: uppercase;
        font-size: 15px;
        color: #000000;
        font-weight: 400;
        margin-bottom: 0;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-content a {
        display: block;
        font-size: 16px;
        color: #58595b;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-content .hotline {
        color: #ec1c24;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 19px;
        font-weight: bold;
    }
    .contact .module__contact .info__contact .info__contact-map {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
    }
    .contact .module__contact .info__contact .info__contact-map iframe {
        width: 100%;
        height: 200px;
    }
    .page__design-contact .banner__slider .swiper-button-prev,
    .page__design-contact .banner__slider .swiper-button-next {
        top: 50%;
    }
}

@media (min-width: 480px) {
    .contact .module__contact .form__contact form .check__group>span {
        font-size: 16px;
    }
    .contact .module__contact .form__contact form .check__group label {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .contact .module__contact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .contact .module__contact .form__contact {
        max-width: -webkit-calc(60% - 15px);
        max-width: -moz-calc(60% - 15px);
        max-width: calc(60% - 15px);
        width: 100%;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .contact .module__contact .info__contact {
        max-width: -webkit-calc(40% - 15px);
        max-width: -moz-calc(40% - 15px);
        max-width: calc(40% - 15px);
        width: 100%;
    }
    .contact .module__contact .info__contact .info__contact-map {
        margin-top: 60px;
    }
}

@media (min-width: 992px) {
    .contact .module__contact {
        margin-top: 30px;
    }
    .contact .module__contact .form__contact {
        max-width: -webkit-calc(58% + 10px);
        max-width: -moz-calc(58% + 10px);
        max-width: calc(58% + 10px);
    }
    .contact .module__contact .form__contact h3 {
        letter-spacing: -0.05em;
    }
    .contact .module__contact .form__contact form .input-box textarea {
        height: 200px !important;
    }
    .contact .module__contact .form__contact form .input-box .input__control {
        height: 40px;
        padding: 11px 0;
        padding-left: 12px;
    }
    .contact .module__contact .info__contact {
        max-width: -webkit-calc(35% - 15px);
        max-width: -moz-calc(35% - 15px);
        max-width: calc(35% - 15px);
    }
    .contact .module__contact .info__contact .info__contact-item .info__contact-content {
        max-width: -webkit-calc(100% - 77px);
        max-width: -moz-calc(100% - 77px);
        max-width: calc(100% - 77px);
    }
    .contact .module__contact .info__contact .info__contact-item {
        margin-bottom: 15px;
    }
    .contact .module__contact .info__contact .info__contact-map {
        margin-top: 65px;
    }
    .contact .module__contact .info__contact .info__contact-map iframe {
        height: 295px;
    }
}

@media (min-width: 1200px) {
    .contact .module__contact {
        margin-top: 50px;
    }
    .contact .module__contact .form__contact form .check__group label {
        margin-right: 30px;
    }
    .contact .module__contact .form__contact form .check__group label input {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }
}

@-webkit-keyframes circleRing {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}

@-moz-keyframes circleRing {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}

@keyframes circleRing {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}

@media (max-width: 991.98px) {
    .contact .module__contact .form__contact form .check__group label {
        max-width: calc(100% - 150px);
        width: 100%;
        margin-left: auto;
    }
}

.contact .module__contact .form__contact form .check__group label input {
    position: absolute;
    transform: scale(1.2);
    width: auto;
    height: auto;
    visibility: hidden;
}

.contact .module__contact .form__contact form .check__group label .checkbox::after {
    font-family: "fontawesome";
    content: "ï€Œ";
    font-size: 10px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    z-index: 20;
    width: 14px;
    height: 14px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .module__contact .form__contact form .check__group label input:checked~.checkbox::after {
    opacity: 1;
    visibility: visible;
}

.contact .module__contact .form__contact form .check__group label input:checked~.checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    color: #d39c42;
    background-color: #d39c42;
    position: absolute;
    z-index: 10;
    border: 1px solid #d39c42;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) {
    .contact .module__contact .form__contact form .check__group label span {
        min-width: 140px;
    }
    .page__design-contact .contact .module__contact .form__contact form .check__group label .checkbox {
        margin-left: 10px !important;
    }
}

@media (max-width: 479.98px) {
    .contact .module__contact .form__contact form .check__group label span {
        min-width: 125px;
    }
}

@media (max-width: 374.98px) {
    .page__design-contact .contact .module__contact .form__contact form .check__group label {
        max-width: unset !important;
        width: unset !important;
        margin-left: auto !important;
        margin-right: 0 !important;
        font-size: 13px;
    }
    .contact .module__contact .form__contact form .check__group>span {
        font-size: 13px;
    }
}