/**
*@helpers
*/


/**
* @base
*/

@font-face {
    font-family: "Lato-Black_2";
    font-display: swap;
    src: url('../fonts/Lato-Black_2.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Black_2.woff') format('woff'), url('../fonts/Lato-Black_2.ttf') format('truetype'), url('../fonts/Lato-Black_2.svg#Lato-Black_2') format('svg');
}

@font-face {
    font-family: "Lato-Bold_2";
    font-display: swap;
    src: url('../fonts/Lato-Bold_2.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold_2.woff') format('woff'), url('../fonts/Lato-Bold_2.ttf') format('truetype'), url('../fonts/Lato-Bold_2.svg#Lato-Bold_2') format('svg');
}

@font-face {
    font-family: "Lato-Hairline_2";
    font-display: swap;
    src: url('../fonts/Lato-Hairline_2.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Hairline_2.woff') format('woff'), url('../fonts/Lato-Hairline_2.ttf') format('truetype'), url('../fonts/Lato-Hairline_2.svg#Lato-Hairline_2') format('svg');
}

@font-face {
    font-family: "Lato-Heavy_1";
    font-display: swap;
    src: url('../fonts/Lato-Heavy_1.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Heavy_1.woff') format('woff'), url('../fonts/Lato-Heavy_1.ttf') format('truetype'), url('../fonts/Lato-Heavy_1.svg#Lato-Heavy_1') format('svg');
}

@font-face {
    font-family: "Lato-Italic_1";
    font-display: swap;
    src: url('../fonts/Lato-Italic_1.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Italic_1.woff') format('woff'), url('../fonts/Lato-Italic_1.ttf') format('truetype'), url('../fonts/Lato-Italic_1.svg#Lato-Italic_1') format('svg');
}

@font-face {
    font-family: "Lato-Light_3";
    font-display: swap;
    src: url('../fonts/Lato-Light_3.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Light_3.woff') format('woff'), url('../fonts/Lato-Light_3.ttf') format('truetype'), url('../fonts/Lato-Light_3.svg#Lato-Light_3') format('svg');
}

@font-face {
    font-family: "Lato-Medium_0";
    src: url('../fonts/Lato-Medium_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Medium_0.woff') format('woff'), url('../fonts/Lato-Medium_0.ttf') format('truetype'), url('../fonts/Lato-Medium_0.svg#Lato-Medium_0') format('svg');
    font-display: swap;
}

@font-face {
    font-family: "Lato-Regular_2";
    font-display: swap;
    src: url('../fonts/Lato-Regular_2.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular_2.woff') format('woff'), url('../fonts/Lato-Regular_2.ttf') format('truetype'), url('../fonts/Lato-Regular_2.svg#Lato-Regular_2') format('svg');
}

@font-face {
    font-family: "Lato-Thin_0";
    src: url('../fonts/Lato-Thin_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Thin_0.woff') format('woff'), url('../fonts/Lato-Thin_0.ttf') format('truetype'), url('../fonts/Lato-Thin_0.svg#Lato-Thin_0') format('svg');
    font-display: swap;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

html:focus {
    outline: none;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-family: "Lato-Regular_2", sans-serif; */
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #FFFFFF;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    -moz-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    padding-left: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

input {
    width: 100%;
    outline: none;
}

input:focus {
    outline: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: -webkit-calc(1120px + 30px);
    max-width: -moz-calc(1120px + 30px);
    max-width: calc(1120px + 30px);
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.open__modal,
#main,
.heightSlide {
    overflow: hidden;
}

.breadcrumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
}

.breadcrumb li {
    position: relative;
    padding-bottom: 16px;
}

.breadcrumb li:not(:last-child) {
    padding-right: 2.2rem;
}

.breadcrumb li:not(:last-child)::before {
    content: '/';
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumb li a {
    font-size: 14px;
    line-height: 16px;
    color: #292b2d;
    display: block;
}

.breadcrumb li p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.input__control {
    font-size: 16px;
    line-height: 22px;
    color: #727B83;
    background: #FFFFFF;
    border: 1px solid #C2C5CC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 16px;
    width: 100%;
}

.input__control:focus {
    color: #323232;
    border: 1px solid #292b2d;
    -webkit-box-shadow: 0 0 2px 0 rgba(21, 110, 170, 0.5);
    box-shadow: 0 0 2px 0 rgba(21, 110, 170, 0.5);
    outline: 0;
}

.slick-slider {
    width: 100%;
}

.slick-slider .slick-arrow {
    background-color: #E2E2E2;
    background-image: url("../images/icons/icon__prev.png");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    border-radius: 50%;
    top: 40%;
    width: 40px;
    height: 40px;
    opacity: 0.9;
    z-index: 2;
}

.slick-slider .slick-arrow::before {
    display: none;
}

.slick-slider .slick-arrow.slick-prev {
    left: -15px;
}

.slick-slider .slick-arrow.slick-next {
    right: -15px;
    -webkit-transform: translate(0, -50%) rotate(180deg);
    -moz-transform: translate(0, -50%) rotate(180deg);
    -ms-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);
}

.slick-slider .slick-dots {
    bottom: 4px;
}

.slick-slider .slick-dots li {
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 0 5px;
}

.slick-slider .slick-dots li.slick-active {
    background-color: #fff;
}

.slick-slider .slick-dots li button {
    display: none;
}

@media (min-width: 230px) {
    .title__global-1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    .title__global-1 h1,
    .title__global-1 h2,
    .title__global-1 h3,
    .title__global-1 h4 {
        color: #000;
        font-size: 30px;
        line-height: 1.2;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;
        margin-top: 32px;
        margin-bottom: 45px;
    }
    .title__global-1 h1::before,
    .title__global-1 h1::after,
    .title__global-1 h2::before,
    .title__global-1 h2::after,
    .title__global-1 h3::before,
    .title__global-1 h3::after,
    .title__global-1 h4::before,
    .title__global-1 h4::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 1px;
        width: 62px;
        z-index: 4;
        background-color: #d39c42;
    }
    .title__global-1 h1::after,
    .title__global-1 h2::after,
    .title__global-1 h3::after,
    .title__global-1 h4::after {
        bottom: -10px;
        width: 115px;
    }
    .decorate__global {
        position: absolute;
        top: -1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 100vw;
        width: 200px;
        height: 30px;
        z-index: 2;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .decorate__global::before {
        content: '';
        display: block;
        background-color: #fff;
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-15px, -19px) rotate(-45deg);
        -moz-transform: translate(-15px, -19px) rotate(-45deg);
        -ms-transform: translate(-15px, -19px) rotate(-45deg);
        transform: translate(-15px, -19px) rotate(-45deg);
    }
    .decorate__global::after {
        content: '';
        position: absolute;
        left: -webkit-calc(100% - 15px);
        left: -moz-calc(100% - 15px);
        left: calc(100% - 15px);
        top: 0;
        display: block;
        background-color: #fff;
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-5px, -19px) rotate(-45deg);
        -moz-transform: translate(-5px, -19px) rotate(-45deg);
        -ms-transform: translate(-5px, -19px) rotate(-45deg);
        transform: translate(-5px, -19px) rotate(-45deg);
    }
}

@media (min-width: 992px) {
    .title__global-1 h1,
    .title__global-1 h2,
    .title__global-1 h3,
    .title__global-1 h4 {
        margin-top: 32px;
        margin-bottom: 45px;
    }
    .decorate__global {
        width: 430px;
    }
}

.btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn__search {
    width: 3rem;
    height: 4rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-left: 0;
}

.btn__toggle-search {
    color: #000;
}

.btn__send {
    width: 100%;
    font-size: 1.5rem;
    background-color: #292b2d;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.btn__send:hover,
.btn__send:focus {
    background-color: #fff;
    color: #292b2d;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    outline: 0;
    border: 1px solid #292b2d;
}

.btn__more {
    font-weight: bold;
    color: #fff;
    background-color: #d39c42;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 6px;
    padding: 0 10px;
}

.btn__more:hover {
    color: #fff;
    background-color: #292d2b;
    text-decoration: none;
    opacity: 1;
}

.frame {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.frame img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}


/**
*@addon
*
*/

@media (min-width: 230px) {
    .addon__search {
        margin-left: auto;
        cursor: pointer;
    }
    .addon__search .main__search {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.231);
        z-index: 999;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
    }
    .addon__search .main__search.active {
        opacity: 1;
        visibility: visible;
    }
    .addon__search .main__search.active .form__search {
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .addon__search .main__search .form__search {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all;
    }
    .addon__search .main__search .form__search .input__search {
        width: 100%;
        height: 4rem;
        border: 1px solid #ddd;
        border-right: 0;
    }
}

@media (min-width: 992px) {
    .addon__search .main__search .form__search {
        padding: 1.5rem;
    }
    .addon__search .main__search .form__search .input__search {
        height: 5rem;
    }
}

.bs-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bs-modal.show-modal {
    padding: 15px;
    z-index: 100;
    opacity: 1;
}

.bs-modal .modal-frame {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bs-modal .content-modal {
    max-width: 1000px;
    width: 90%;
}

.bs-modal .content-modal.show-modal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.bs-modal.modal-left .content-modal.show-modal {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.bs-modal.modal-right .content-modal.show-modal {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.bs-modal.modal-top .content-modal.show-modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.bs-modal.modal-bottom .content-modal.show-modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.content-modal {
    max-width: 587px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
    -o-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
    -moz-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
    transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
    padding: 2.5rem 4.3rem;
}

.content-modal .header-modal {
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-modal .header-modal .modal__title {
    font-size: 2.1rem;
    color: #262626;
    font-weight: 400;
}

.content-modal .footer-modal {
    overflow: hidden;
}

.content-modal .footer-modal .close__btn {
    float: right;
}

.content-modal .footer-modal button {
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content-modal .footer-modal button.red__btn {
    background: red;
}

.content-modal .footer-modal button.red__btn:focus,
.content-modal .footer-modal button.red__btn:hover {
    background: #d60808;
}

.content-modal .footer-modal button.green__btn {
    background: green;
}

.content-modal .footer-modal button.green__btn:focus,
.content-modal .footer-modal button.green__btn:hover {
    background: #106710;
}

.content-modal .footer-modal button.blue__btn {
    background: blue;
}

.content-modal .footer-modal button.blue__btn:focus,
.content-modal .footer-modal button.blue__btn:hover {
    background: #0c0cb9;
}

.content-modal .footer-modal button.gray__btn {
    background: #717171;
}

.content-modal .footer-modal button.gray__btn:focus,
.content-modal .footer-modal button.gray__btn:hover {
    background: #4e4d4d;
}

.content-modal .footer-modal button.black__btn {
    background: #000;
}

.content-modal .footer-modal button.black__btn:focus,
.content-modal .footer-modal button.black__btn:hover {
    background: #403f3f;
}

.content-modal.modal-left .content-modal {
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
}

.content-modal.modal-right .content-modal {
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
}

.content-modal.modal-top .content-modal {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
}

.content-modal.modal-bottom .content-modal {
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
}

.content-modal.modal-small .content-modal {
    max-width: 320px;
}

.content-modal.modal-large .content-modal {
    max-width: 950px;
}

.content-modal.modal-full .content-modal {
    max-width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

body:after {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
}

body.active-modal {
    overflow: hidden;
}

body.active-modal:after {
    display: block;
}

@media only screen and (max-width: 767px) {
    .content-modal {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .content-modal {
        padding: 1.5rem;
    }
}

@media (min-width: 230px) {
    .addon__banner .banner__item {
        display: block !important;
    }
    .addon__banner.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .addon__banner .banner__item {
        position: relative;
    }
}

@media (min-width: 992px) {
    .addon__banner .banner__item {
        position: relative;
    }
    .addon__banner .banner__item .frame {
        padding-top: 19.27083%;
    }
    .addon__banner .banner__item .frame img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: bottom center;
        object-position: bottom center;
    }
}


/**
*@ layout
*/

@media (min-width: 230px) {
    .logo {
        max-width: 176px;
        height: 40px;
        width: 100%;
        overflow: hidden;
        display: block;
    }
    .logo .logo-img img {
        -o-object-fit: contain;
        object-fit: contain;
    }
}

@media (min-width: 230px) {
    .addon__menu {
        --color: #262626;
        --colorHover: red;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.459);
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
    }
    .addon__menu.active {
        opacity: 1;
        visibility: visible;
    }
    .addon__menu.active .box__menu {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .addon__menu .box__menu {
        max-width: 260px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        transform: translateX(-110%);
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
    }
    .addon__menu .box__menu .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .addon__menu .box__menu .menu .menu__list {
        position: relative;
    }
    .addon__menu .box__menu .menu .menu__list .menu__link {
        display: block;
        color: #3A3A3C;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 40px;
        padding: 0 15px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.6);
        text-transform: uppercase;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .addon__menu .box__menu .menu .menu__list .menu__link img {
        display: none;
    }
    .addon__menu .box__menu .menu .menu__list:last-child .menu__link {
        border-bottom: 0;
    }
    .addon__menu .box__menu .menu .menu__list:hover .menu__link,
    .addon__menu .box__menu .menu .menu__list.active .menu__link {
        color: #292b2d;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 700;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .addon__menu .box__menu .menu .menu__list ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .addon__menu .box__menu .menu .menu__list ul li {
        position: relative;
    }
    .addon__menu .box__menu .menu .menu__list ul li::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid var(--color);
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 20px;
    }
    .addon__menu .box__menu .menu .menu__list ul li a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #000000;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 35px;
        padding-left: 35px;
        padding-right: 15px;
    }
    .addon__menu .box__menu .menu .menu__list ul li:hover::before {
        border-color: var(--colorHover);
    }
    .addon__menu .box__menu .menu .menu__list ul li:hover a {
        text-decoration: none;
    }
    .addon__menu .box__menu .menu .menu__list .btn__childrens {
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 20px;
        overflow: hidden;
        border: 0;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        background: #000;
        padding: 0;
        color: #fff;
    }
    .addon__menu .box__menu .menu .menu__list .btn__childrens::before {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
        transition: color 0.3s ease, -webkit-transform 0.3s ease;
        -o-transition: color 0.3s ease, transform 0.3s ease;
        -moz-transition: color 0.3s ease, transform 0.3s ease, -moz-transform 0.3s ease;
        transition: color 0.3s ease, transform 0.3s ease;
        transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
    }
    .addon__menu .box__menu .menu .menu__list .btn__childrens.active::before {
        color: red;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .toggle__menu {
        width: 3rem;
        height: 3rem;
        border: 0px;
        background-color: transparent;
        margin-left: auto;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        padding: 0;
    }
    .toggle__menu img {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .addon__menu {
        position: unset;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        background-color: transparent;
        z-index: unset;
        visibility: unset;
        opacity: 1;
        margin-left: auto;
    }
    .addon__menu .box__menu {
        max-width: 100%;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        transform: unset;
        height: 100%;
        background-color: transparent;
    }
    .addon__menu .box__menu .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
    }
    .addon__menu .box__menu .menu .menu__list {
        height: 100%;
    }
    .addon__menu .box__menu .menu .menu__list .menu__link {
        border-bottom: 0;
        padding: 0 15px;
        line-height: 50px;
        color: #000;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .addon__menu .box__menu .menu .menu__list .menu__link img {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 1.3rem;
    }
    .addon__menu .box__menu .menu .menu__list:hover ul {
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .addon__menu .box__menu .menu .menu__list ul {
        z-index: 999;
        display: block;
        position: absolute;
        min-width: unset;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        top: -webkit-calc(100% + 4px);
        top: -moz-calc(100% + 4px);
        top: calc(100% + 4px);
        left: 0;
        background-color: #fff;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        padding: 10px 0;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .addon__menu .box__menu .menu .menu__list ul li {
        padding: 8px 16px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .addon__menu .box__menu .menu .menu__list ul li::before {
        display: none;
    }
    .addon__menu .box__menu .menu .menu__list ul li:hover {
        background: #F2F2F2;
    }
    .addon__menu .box__menu .menu .menu__list ul li:hover a {
        font-weight: bold;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: #292b2d;
    }
    .addon__menu .box__menu .menu .menu__list ul li a {
        padding: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #3A3A3C;
    }
    .addon__menu .box__menu .menu .menu__list .btn__childrens {
        display: none;
    }
    .toggle__menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .addon__menu .box__menu .menu .menu__list .menu__link {
        line-height: 75px;
    }
}

@media (min-width: 230px) {
    #header {
        background-color: #fff;
    }
    #header .header__top .language-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        padding: 5px 0;
        margin-bottom: 0;
        width: max-content;
        margin-left: auto;
    }
    #header .header__top .language-group li {
        width: 30px;
        height: 20px;
        margin-left: 11px;
    }
    #header .header__mid {
        position: relative;
        background-color: #292b2d;
    }
    #header .header__mid .header__main {
        padding: 5px 0;
    }
    #header .header__mid .header__main .decorate__global-1 {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        width: 140px;
        background-color: #292b2d;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    #header .header__mid .header__main .decorate__global-1 .before-shadow-1 {
        position: relative;
        height: 20px;
        width: 20px;
        margin-left: -19px;
        margin-top: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        background: transparent;
    }
    #header .header__mid .header__main .decorate__global-1 .before-shadow-1::before {
        content: "";
        right: 0;
        bottom: 0;
        -webkit-box-shadow: 0 0 0px 50px #292b2d;
        box-shadow: 0 0 0px 50px #292b2d;
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50%;
    }
    #header .header__mid .header__main .decorate__global-1 .before-shadow-2 {
        position: relative;
        height: 20px;
        width: 20px;
        margin-right: -19px;
        margin-top: -20px;
        margin-left: auto;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        background: transparent;
    }
    #header .header__mid .header__main .decorate__global-1 .before-shadow-2::before {
        content: "";
        left: 0;
        bottom: 0;
        -webkit-box-shadow: 0 0 0px 50px #292b2d;
        box-shadow: 0 0 0px 50px #292b2d;
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50%;
    }
    #header .header__mid .header__main .logo {
        position: absolute;
        top: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 106px;
        width: 106px;
        height: 56px;
        overflow: unset;
        z-index: 5;
    }
    #header .header__mid .header__main .logo .logo-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    #header .header__mid .header__main .logo .logo-img img {
        width: 100%;
        height: 100%;
    }
    #header .header__mid .header__main .decorate__global {
        background-color: #292b2d;
        top: 32px;
        width: 230px;
    }
    #header .header__mid .header__main .addon__menu .box__menu {
        background-color: #292b2d;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(204, 204, 204, 0.6);
        padding: 0 15px;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list:nth-child(3) {
        margin-left: auto;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list img {
        width: 17px;
        height: 17px;
        margin-right: 15px;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list .menu__link {
        color: #ffffff;
        font-family: "Arial";
        border: 0;
        padding: 0;
    }
}

@media (max-width: 480px) {
    #header .header__mid .header__main .decorate__global-1 {
        width: 170px;
    }
    #header .header__mid .header__main .decorate__global {
        top: 50px;
    }
}

@media (min-width: 992px) {
    #header {
        background-color: #fff;
    }
    #header .header__mid {
        position: relative;
        background-color: #292b2d;
    }
    #header .header__mid .header__main {
        padding: 0;
    }
    #header .header__mid .header__main .decorate__global-1 {
        width: 260px;
    }
    #header .header__mid .header__main .logo {
        position: absolute;
        top: -20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 212px;
        width: 212px;
        height: 113px;
        overflow: unset;
        z-index: 5;
    }
    #header .header__mid .header__main .logo .logo-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    #header .header__mid .header__main .logo .logo-img img {
        width: 100%;
        height: 100%;
    }
    #header .header__mid .header__main .decorate__global {
        max-width: 280px;
        width: 280px;
        top: 75px;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 0;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list:first-child {
        padding-left: 0;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list:nth-child(3) {
        margin-left: auto;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list img {
        width: 17px;
        height: 17px;
    }
    #header .header__mid .header__main .addon__menu .box__menu .menu .menu__list .menu__link {
        color: #ffffff;
        font-family: "Arial";
    }
}

@media( min-width: 1200px) {
    #header .header__mid .header__main .decorate__global {
        max-width: 380px;
        width: 380px;
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@media (min-width: 230px) {
    #footer {
        background-color: #292b2d;
        padding-top: 30px;
    }
    #footer .footer__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    #footer .footer__group .note__social-network {
        margin-bottom: 15px;
    }
    #footer .footer__group .note__social-network p {
        font-size: 12px;
        color: #b6b2b2;
        font-weight: 400;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Regular_2"; */
        text-align: left;
        margin-bottom: 20px;
    }
    #footer .footer__group .note__social-network h3 {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        font-family: "Arial";
        margin-bottom: 10px;
    }
    #footer .footer__group .note__social-network .social__network-icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #footer .footer__group .note__social-network .social__network-icon a {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    #footer .footer__group .note__social-network .social__network-icon a img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    #footer .footer__group .services {
        margin-bottom: 15px;
    }
    #footer .footer__group .services .footer__services-title {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Arial";
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    #footer .footer__group .services ul {
        color: #fff;
        padding-left: 15px;
    }
    #footer .footer__group .services ul li a {
        font-size: 12px;
        color: #eeeeee;
        font-family: "Arial";
    }
    #footer .footer__group .services ul li a:hover {
        color: #d39c42;
    }
    #footer .footer__group .map__contact {
        width: 100%;
    }
    #footer .footer__group .map__contact .map__frame {
        max-width: 100%;
        width: 100%;
        height: 100px;
        margin-bottom: 3px;
    }
    #footer .footer__group .map__contact .map__frame iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    #footer .footer__group .map__contact .map__note {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px;
    }
    #footer .footer__group .map__contact .map__note i {
        color: #d39c42;
        font-size: 16px;
        margin-right: 8px;
    }
    #footer .footer__group .map__contact .map__note p {
        font-size: 14px;
        color: #b6b2b2;
        font-weight: 400;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Regular_2"; */
        width: -webkit-calc(100% - 15px);
        width: -moz-calc(100% - 15px);
        width: calc(100% - 15px);
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }
    #footer .footer__group .map__contact .btn__contact {
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px;
        color: #fff;
        background-color: #d39c42;
        text-transform: uppercase;
        font-size: 18px;
        border-radius: 5px;
    }
    #footer .footer__bottom {
        border-top: 1px solid #fff;
        font-size: 12px;
        color: #dad8d8;
        font-weight: 700;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* font-family: "Lato-Bold_2"; */
        padding: 10px 0;
    }
    .btn__up {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 999;
    }
    .btn__up.active {
        visibility: inherit;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 1;
    }
    .btn__up i {
        font-size: 25px;
    }
}

@media (min-width: 576px) {
    #footer .footer__group .note__social-network {
        max-width: -webkit-calc(50% - 15px);
        max-width: -moz-calc(50% - 15px);
        max-width: calc(50% - 15px);
        width: 100%;
    }
    #footer .footer__group .services {
        max-width: -webkit-calc(50% - 15px);
        max-width: -moz-calc(50% - 15px);
        max-width: calc(50% - 15px);
        width: 100%;
    }
}

@media (min-width: 768px) {
    #footer .footer__group .note__social-network {
        max-width: -webkit-calc(30% - 15px);
        max-width: -moz-calc(30% - 15px);
        max-width: calc(30% - 15px);
    }
    #footer .footer__group .services {
        max-width: -webkit-calc(35% - 15px);
        max-width: -moz-calc(35% - 15px);
        max-width: calc(35% - 15px);
    }
    #footer .footer__group .map__contact {
        max-width: -webkit-calc(35% - 15px);
        max-width: -moz-calc(35% - 15px);
        max-width: calc(35% - 15px);
    }
}

@media (min-width: 992px) {
    #footer .footer__group .note__social-network {
        max-width: 235px;
    }
    #footer .footer__group .services {
        max-width: 235px;
    }
    #footer .footer__group .map__contact {
        max-width: 235px;
    }
    #footer .footer__bottom {
        padding-top: 20px;
    }
}


/**
*@ components
*/

@media (min-width: 230px) {
    .banner-global {
        padding: 1.3rem 0 0;
    }
    .banner-global .breadcrumb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style-type: none;
    }
    .banner-global .breadcrumb li:not(:first-child) {
        margin-left: 2rem;
        position: relative;
    }
    .banner-global .breadcrumb li:not(:first-child)::before {
        content: "";
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -1.1rem;
        background-color: #808080;
    }
    .banner-global .breadcrumb li a {
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: #595959;
    }
    .banner-global .breadcrumb li:last-child a {
        max-width: 9.1rem;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 2.4rem;
        -webkit-line-clamp: 1;
        max-height: -webkit-calc(2.4rem * 1);
        max-height: -moz-calc(2.4rem * 1);
        max-height: calc(2.4rem * 1);
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .banner-global .title__global {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media (min-width: 400px) {
    .banner-global .breadcrumb li:last-child a {
        max-width: 17.1rem;
    }
}

@media (min-width: 480px) {
    .banner-global .breadcrumb li:last-child a {
        max-width: 25.1rem;
    }
}

@media (min-width: 576px) {
    .banner-global .breadcrumb li:last-child a {
        max-width: 30rem;
    }
}

.banner__item img {
    object-fit: cover;
}

.fixed {
    z-index: 99;
    position: fixed!important;
    width: 100%;
    top: 0px;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

@-webkit-keyframes headerAnimation {
    0% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes headerAnimation {
    0% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

#header .header__mid.fixed .header__main .logo::before,
#header .header__mid.fixed .header__main .logo::after {
    display: none;
}

#header .header__mid.fixed .header__main .logo {
    width: auto!important;
    max-width: 100px;
}

@media (min-width: 992px) {
    #header .header__mid.fixed .header__main .logo {
        top: -0;
        max-width: 130px;
    }
}

@media (min-width: 1200px) {
    #header .header__mid.fixed .header__main .logo {
        top: -10px;
        max-width: 150px;
    }
}

a.icon-data {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #d29a43;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
}

#header .header__mid .header__main .addon__menu .box__menu .menu .menu__list:last-child {
    padding-right: 0;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dec839ad;
    padding: 35px;
    opacity: 0;
}

.label span {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: Arial;
}

.frame:hover .label {
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
}

section:hover h1:before {
    width: 115px;
    transition: all .5s;
}

section:hover h1:after {
    width: 62px;
    transition: all .5s;
}

section h1:before,
section h1:after {
    transition: all .5s;
}

section:hover h2:before {
    width: 115px;
    transition: all .5s;
}

section:hover h2:after {
    width: 62px;
    transition: all .5s;
}

section h2:before,
section h2:after {
    transition: all .5s;
}

#header .header__mid .header__main .addon__menu .box__menu .menu .menu__list:hover a {
    color: #d19a41!important;
    font-weight: 400;
}

@media (max-width: 1200px) {
    #header .header__mid .header__main .logo {
        max-width: 225px;
        width: 258px;
        height: 80px;
        overflow: unset;
        z-index: 5;
    }
}

@media (max-width: 991px) {
    #header .header__mid .header__main .logo {
        height: 58px;
        overflow: unset;
        z-index: 5;
    }
    #header .header__mid.fixed .header__main .logo {
        width: auto!important;
        max-width: 69px;
    }
}

.content-modal .header-modal .modal__title {
    color: #292b2d;
    text-align: center;
    width: 100%;
}

.content-modal .header-modal .close__modal {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 18px;
}

.bs-modal .content-modal {}

.bs-modal .frame {
    padding-top: 50%;
}

.bs-modal .frame img {
    object-fit: cover;
}

.bs-modal .slick-arrow.slick-prev {
    background-color: transparent;
    left: 10px;
    border-top: 3px solid #292b2d;
    border-left: 3px solid #292b2d;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    -moz-transform: translate(0, -50%) rotate(-45deg);
    -ms-transform: translate(0, -50%) rotate(-45deg);
    transform: translate(0, -50%) rotate(-45deg);
    z-index: 101;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    left: -20px;
}

.bs-modal .slick-arrow.slick-next {
    background-color: transparent;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    -moz-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    right: 10px;
    border-top: 3px solid #292b2d;
    border-right: 3px solid #292b2d;
    z-index: 101;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    right: -20px;
}

.content-modal {
    margin-top: 0;
}

.bs-modal .slick-dotted.slick-slider {
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .bs-modal .slick-arrow.slick-prev {
        left: 0;
    }
    .bs-modal .slick-arrow.slick-next {
        right: 0;
    }
}