#NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-prev::after,
#NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-next::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    left: -100%;
    top: -100%;
}

#NewsFeed .NewsFeed__content .NewsFeed__group .NewsFeed__slider-button-next::after {
    left: 0;
}

.page__design-index #Service .Service__item .Service__content .Service__item-title,
.page__design-index #Why .Why__choose .Why__choose-item h3 {
    color: #58595B;
}

.page__design-index #Produce .Produce__group .Produce__item .Produce__content .Produce__name i {
    text-transform: capitalize;
}

.page__design-index #Patner .Patner__group {
    max-width: 80%;
    margin: 0 auto;
}

.Service__item.swiper-slide:hover .Service__content .Service__item-title {
    color: #fff !important;
}

.page__design-index #Evaluate .Evaluate__img::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.page__design-news .breadcrumb {
    margin-bottom: 30px;
}


/* .page__design-news .sidebar__news-item {
    display: flex;
}
.page__design-news .sidebar__news-item .sidebar__news-thumb{
    display: block;
    width: 70px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 10px;
}
.page__design-news .sidebar__news-item .sidebar__news-thumb img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page__design-news  .sidebar__news-item .sidebar__news-title {
    font-size: 15px;
    color: #333;
} */

.sidebar__tag {
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding: 10px;
}

.sidebar__tag .news__tag-title h4 {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #929292;
}

.sidebar__tag .news__tag-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar__tag .news__tag-content .news__tag-item {
    border: 1px solid #cccccc;
    font-size: 14px;
    color: #929292;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.page__design-news #Video .Video-group .Video-item .Video-item-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

.page__design-news #Video .title__global-2 {
    margin-bottom: 20px;
}

.page__design-news #Video {
    margin-top: 30px;
}

.page__design__detail-news .detail__news-content img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#design__detail-news .module__detail-news .sidebar__detail-news .video__relate .sidebar__video-item {
    margin-bottom: 25px;
    max-width: 100%;
    width: 100%;
}

#AboutUs .history__begin .history__begin-item:nth-child(even) .history__begin-content .history__begin-title .year {
    position: absolute;
    right: -115px;
    top: -11px;
    background-color: transparent;
    font-size: 17px;
}

#AboutUs .history__begin .history__begin-item .history__begin-content .history__begin-title .year span {
    background-color: transparent;
    color: #333;
    border: none;
}

#AboutUs .history__begin .history__begin-item:hover .history__begin-title .year span {
    box-shadow: none
}

#AboutUs .history__begin .history__begin-item:nth-child(odd) .history__begin-content .history__begin-title .year {
    position: absolute;
    left: -115px;
    top: -11px;
    background-color: transparent;
    font-size: 17px;
}

.page__design-about #AboutUs .title__global-1>h2 {
    width: 100%;
}

.contact .module__contact .info__contact .info__contact-item .info__contact-content .hotline {
    color: #ec1c24;
}

.contact .module__contact .form__contact form .check__group {
    display: flex;
    justify-content: center;
}

.page__design-contact .banner__slider .swiper-wrapper .swiper-slide .frame img {
    object-fit: cover;
}

.page__design-service #rental__services .module__rental-services .rental__services-group .list-service ul:last-child {
    list-style: disc;
    margin-left: 90px;
}

@media (min-width: 992px) {
    .sidebar__tag {
        padding: 15px 20px;
    }
}

.design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item .list__info-title {
    font-weight: 600;
}

@media (min-width: 230px) {
    .page__design-service .list-service ul:first-child {
        padding-left: 16px;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item:not(:last-child) {
        margin-bottom: 20px;
        width: 100%;
        max-width: unset;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item:last-child {
        margin-bottom: 0px;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce p {
        font-size: 15px;
    }

    #rental__services .module__rental-services .rental__services-group p {
        font-weight: 100;
    }

    .design__detail-produce .add__share .add__compare p {
        font-size: 16px;
        color: #58595b;
    }
}

@media (min-width: 768px) {
    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item {
        max-width: 100%;
    }
}

@media (min-width: 480px) {
    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info {
        justify-content: space-between;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-left,
    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-right {
        width: 51%;
        max-width: unset;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-right {
        width: 45%;
    }

    .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item {
        width: 100%;
    }

    /* .design__detail-produce .design__detail-info .info__produce .tab-content .tab-item .content__produce .list__info .list__info-item{
        max-width: 48%;
        float: left;
    } */
}

@media (max-width: 992px) {
    .page__design-service #rental__services .module__rental-services .rental__services-group .list-service ul:last-child {
        list-style: disc;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .page__design-contact .contact .module__contact .form__contact {
        position: relative;
        /* top: -9px */
    }
}

.btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 576px) {
    .design__detail-produce .add__share .add__compare p.text-mobile {
        display: block;
        margin-left: 0;
        margin-right: 10px;
    }

    .design__detail-produce .add__share .add__compare p.text-pc {
        display: none
    }

    .design__detail-produce .add__share .add__compare {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .design__detail-produce .add__share .share__group {
        margin-left: 0;
    }

    #AboutUs .history__begin .history__begin-item .history__begin-content p {
        text-align: justify;
    }

}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 370px) {
    .page__design-service #numb__company .numb__company-item {
        width: 100%;
        max-width: 50%;
    }
}


@media only screen and (min-width: 576px) {
    .design__detail-produce .add__share .add__compare p.text-mobile {
        display: none;
    }

    .design__detail-produce .add__share .add__compare p.text-pc {
        display: block
    }

}

@media only screen and (max-width: 992px) {
    .design__detail-produce .info__public-produce {
        margin-left: 0 !important;
        margin-right: 30px !important;
    }
}

@media only screen and (max-width: 768px) {
    .design__detail-produce .info__public-produce {
        margin: 30px 0 !important;
        margin-right: auto;
    }

    .design__detail-produce .produce__relate {
        max-width: 500px;
        margin: 30px 0 !important;
    }
}

@media only screen and (min-width: 1920px) {
    .page__design-index #Evaluate .title__global-1 .decorate__global {
        top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .page__design-service #numb__company .numb__company-item {
        z-index: 9999;
    }

    .page__design-service #header .header__mid.fixed::before,
    .decorate__global,
    #NewsFeed::before,
    .page__design-service #header .header__mid.fixed::before,
    .decorate__global,
    #NewsFeed::before,
    .page__design-service #header .header__mid.fixed::before,
    .decorate__global,
    #NewsFeed::before {
        margin-top: 0 !important;
    }
}

/* .page__design-service #numb__company .numb__company-group .numb__company-items {
    display: flex;
    width: 44%;
    justify-content: space-between;
}
@media only screen and (max-width: 992px) {
    .page__design-service #numb__company .numb__company-group .numb__company-items {
        width: 46%;
    }
}
*/
.page__design-service #numb__company>.container {
    display: flex;
    justify-content: space-between;
}

.page__design-service #numb__company {
    /* width: 48%; */
}

@media only screen and (max-width: 768px) {
    .page__design-service #numb__company>.container {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .page__design-service #numb__company {
        max-width: unset !important;
        width: 100%;
        flex-basis: 100%;
        justify-content: space-between;
    }

    .page__design-service #numb__company:last-child {
        padding-top: 0;
    }

    .page__design-service #numb__company .numb__company-item {
        width: 50%;
        display: flex;
    }

    .page__design-service #numb__company .numb__company-item>div {
        width: 150px;
    }

    .numb__company-item:nth-child(2) {
        justify-content: flex-end;
    }

    .numb__company-item:nth-child(4) {
        justify-content: flex-end;
    }

    .numb__company-item:nth-child(4)>div {
        transform: translateY(2px);
    }

    #numb__company .numb__company-item:nth-child(2):before {
        left: unset;
        right: 175px;
    }

    #numb__company .numb__company-item:nth-child(2):after {
        left: unset;
        right: 170px;
    }

    #numb__company .numb__company-item:nth-child(4):before {
        left: unset;
        right: 175px;
    }

    #numb__company .numb__company-item:nth-child(4):after {
        left: unset;
        right: 170px;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
    #numb__company {
        padding: 40px 5px;
        padding-top: 65px;
    }

    #numb__company .numb__company-item:nth-child(2):before {
        left: unset;
        right: 160px;
    }

    #numb__company .numb__company-item:nth-child(2):after {
        left: unset;
        right: 155px;
    }

    #numb__company .numb__company-item:nth-child(4):before {
        left: unset;
        right: 160px;
    }

    #numb__company .numb__company-item:nth-child(4):after {
        left: unset;
        right: 155px;
    }

}

@media only screen and (max-width: 475px) {
        .numb__company-item:nth-child(4)>div {
        transform: translateY(5px);
    }
}


@media only screen and (max-width: 375px) {
    .page__design-service #numb__company .numb__company-item>div {
        width: 110px;
    }

    .page__design-service #numb__company .numb__company-item>div {
        width: 110px;
    }

    #numb__company .numb__company-item:nth-child(2):before {
        left: unset;
        right: 120px;
    }

    #numb__company .numb__company-item:nth-child(2):after {
        left: unset;
        right: 115px;
    }

    #numb__company .numb__company-item:nth-child(4):before {
        left: unset;
        right: 120px;
    }

    #numb__company .numb__company-item:nth-child(4):after {
        left: unset;
        right: 115px;
    }
}

@media only screen and (max-width: 370px) {}

.fixed {
    z-index: 99999999;
}